<header>
    <div class="container">
        <a href="/">PetDevShop</a>
        <form method="GET" action="/search">
            <input type="search" value="{{query}}" name="q" placeholder="Pesquise por raça" />
        </form>
    </div>
</header>