<nav>
    <ul>
        <li class="{{classHome}}"><a href="/">Todos</a></li>
        <li class="{{classDogs}}"><a href="/dogs">Cachorros</a></li>
        <li class="{{classCats}}"><a href="/cats">Gatos</a></li>
        <li class="{{classFishes}}"><a href="/fishes">Peixes</a></li>
    </ul>
</nav>